*{
    margin: 0;
    padding: 0;
}

.clearfix{
    clear:both;
}

body{
    background-image: url("wp8927644-domain-expansion-wallpapers.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgb(172, 171, 170);
    width: 960px;
    margin: auto;
    overflow: hidden;
    box-shadow: 10px 10px 8px 10px #888888;
}

header{
    background-color: rgb(216, 216, 216);
    width: 880px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

section{
    background-color: rgb(216, 216, 216);
    width: 545px;
    height: 700px;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-left: 41px;
}

aside{
    background-color: rgb(216, 216, 216);
    width: 305px;
    height: 700px;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
}

footer{
    background-color: rgb(216, 216, 216);
    width: 880px;
    height: 100px;
    margin: 20px auto;
    text-align: center;
    font-size: medium;
}

.con1 p{
    text-align: left;
}